<a href="/profileSetting" class="brand-link bg-info">
    <div class="text-center text-lg font-weight-bold">LMS</div>
</a>

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item menu-open">
                <a href="/dashboard" class="nav-link active"><i class="fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>



            
            <!-- Services -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-database"></i>
                    <p>
                        Data
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/data" class="nav-link">
                            <i class="fa fa-eye nav-icon"></i>
                            <p>View Books</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/rent" class="nav-link">
                            <i class="fa fa-share nav-icon"></i>
                            <p>Rent Books</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Settings -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-cog"></i>
                    <p>
                        Settings
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview" >
                    <li class="nav-item">
                        <a href="/profileSetting" class="nav-link">
                            <i class="fas fa-user nav-icon"></i>
                            <p>Profile</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/manage" class="nav-link">
                            <i class="fas fa-users nav-icon"></i>
                            <p>Manage Users</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">
                            <i class="fas fa-sign-out-alt nav-icon"></i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </li>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="/report" class="nav-link "><i class="fas fa-file-alt"></i>
                        <p>Report</p>
                    </a>
                </li>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->


